include ./inc/header.jade

body
	- var active = 'usuarios'
	include ./inc/admin-nav.jade

	.ui.container.very.padded.distant.top
		.ui.grid
			.row
				.ten.wide.column
					h1.ui.header
						| Usuários
				.six.wide.column.right.aligned
					button.ui.primary.button(data-toggle-modal='#modal-create-user')
						| Adicionar Usuário
			
			.row
				.column
					if (err)
						.ui.error.message= err

					table.ui.celled.table
						thead
							tr
								th(scope='col') Nome
								th(scope='col') Email
								th(scope='col') Parque
								th(scope='col') Ações
						tbody
							for user in users
								tr
									td= user.name
									td= user.email
									td= (user['park.name'] == NULL) ? 'Nenhum' : user['park.name']
									td(width='150px')
										if (user['email'] != email)
											form(method='post')
												button.ui.negative.right.labeled.icon.button(type='submit', name='delete', value=user.id)
													| Remover
													i.remove.user.icon
										else
											button.ui.negative.right.labeled.icon.button.disabled()
												| Remover
												i.remove.user.icon



	#modal-create-user.ui.modal.tiny
		.header
			h5.modal-title Adicionar Usuário
			
		.content
			form#form-create-user.ui.form(method='post')
				.field
					label(for='inputName') Nome
					input(type='text', id='inputName', name='name', placeholder='Digite o nome aqui')

				.field
					label(for='inputEmail') Email
					input(type='email', id='inputEmail', name='email', placeholder='Digite o email aqui')

				.field
					label(for='inputPassword') Senha
					input(type='password', id='inputPassword', name='password', placeholder='Digite a senha aqui')

				.field
					label(for='selectPark') Parque
					select.ui.fluid.dropdown(id='selectPark', name='parkId')
						for park in parks
							option(value=park.id)= park.name
		.actions
			button.ui.deny.button(type='button', data-dismiss='modal') Fechar
			button.ui.positive.right.labeled.icon.button(type='submit', form='form-create-user', name='create', value='true')
				| Adicionar
				i.checkmark.icon

include ./inc/footer.jade